@import "tailwindcss";

body {
  background: #0f0f0f;
  color: white;
  margin: 0;
  font-family: Arial;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #1d1d1d;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.poster {
  width: 100%;
  border-radius: 10px;
}

.info {
  margin-top: 10px;
}
